body {
  color: black;
}
.idea-box {
  background-color: #FFF0A5;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #FFB03B;
}

h2 {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  text-align: center;
}
.time  {
  color: #36B0E2 ;
}
.hidden {
  display: none;
}
.navbar  {
  color: pink;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.navbar a {

}
img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container {
  text-align: right;
  padding: 10px;
  margin: 20px;
}
